.container { 
  width: 100%; 
  padding-right: 0.75rem; 
  padding-left: 0.75rem; 
  margin-right: auto; 
  margin-left: auto; 
} 
@media (min-width: 576px) { 
  .container { 
    max-width: 540px; 
  } 
} 
@media (min-width: 768px) { 
  .container { 
    max-width: 720px; 
  } 
} 
@media (min-width: 992px) { 
  .container { 
    max-width: 960px; 
  } 
} 
@media (min-width: 1200px) { 
  .container{ 
    max-width: 1140px; 
  } 
} 
@media (min-width: 1400px) { 
  .container { 
    max-width: 1320px; 
  } 
}


.page {
  margin-top: 25px;
  text-align: center;
}


.title{
  font-size: 42px;
  letter-spacing: -0.9px;
  color: #363a40;
}

.cardsWrapper{
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  grid-gap: 1em;
}